.main-content {
  margin-top: 100px;
}
.list-unstyled a {
  cursor: hand;
  text-decoration: none;
}

/* Nav Mobile */
#navmobile {
  display: none;
}
#navmain {
  display: block;
}
@media only screen and (max-width: 1590px) {
  #navmobile {
    display: block;
  }
  #navmain {
    display: none;
  }
  
  @media (max-width: 480px){
  .logo {
    display: none;
    }
  }

  @media (max-width: 1590px){
  .header-left {
    margin-right: 0px;
    }
  }

  @media (max-width: 1400px){
  .header-left {
    margin-right: 0px;
    }
  }

  @media (max-width: 1300px){
  .header-left {
    margin-right: 0px;
    }
  }

  @media (max-width: 1000px){
  .header-left {
    margin-right: 0px;
    }
  }
  
  .debugger {
    position: absolute;
    left: 50%;
    top: 0;
  }

  * {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
  }

  .nav-wrapper {
    float: left;
    z-index: 1;
    position: absolute;
    width: 300px;
    height: 610px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .nav-wrapper.show-menu {
    -webkit-transform: none;
            transform: none;
  }

  .js-nav-toggle {
    position: absolute;
    top: 0;
    right: -60px;
    width: 43px;
    height: 40px;
    margin: 15px 0 0 15px;
    display: block;
    float: left;
    padding: 0;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);       
    /* -webkit-transition: color 0.15s, background-color 0.15s;
    transition: color 0.15s, background-color 0.15s; */
  }
  .js-nav-toggle span {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 2px;
    display: block;
    width: 22px;
    margin: 17px auto 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .js-nav-toggle span:before, .js-nav-toggle span:after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 0;
    left: 1px;
    top: 50%;
    margin-top: -7px;
    -webkit-transition: all 0.3s 0.3s;
    transition: all 0.3s 0.3s;
  }
  .js-nav-toggle span:before {
    -webkit-box-shadow: 0 14px 0 1px rgb(255, 255, 255);
            box-shadow: 0 14px 0 1px rgb(255, 255, 255);
  }
  .js-nav-toggle span:after {
    -webkit-box-shadow: 0 0 0 1px rgb(255, 255, 255);
            box-shadow: 0 0 0 1px rgb(255, 255, 255);
  }
  .show-menu .js-nav-toggle span {
    background-color: transparent;
  }
  .show-menu .js-nav-toggle span:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .show-menu .js-nav-toggle span:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .show-menu .js-nav-toggle span:before, .show-menu .js-nav-toggle span:after {
    margin-top: 0;
    -webkit-box-shadow: 0 0 0 1px rgb(255, 255, 255);
            box-shadow: 0 0 0 1px rgb(255, 255, 255);
  }

  nav {
    position: absolute;
    left: 0;
    top: -10px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    /* -webkit-box-shadow: 0 0 5px 1px #ddd;
            box-shadow: 0 0 5px 1px #ddd; */
    /* background-color: #fafafa; */
  }
  nav .nav-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.45em 0.6em;
    background-color: #51a4e7;
    color: #fff;
    z-index: 100;
    cursor: pointer;
    /* -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s; */
  }
  nav .nav-toggle:hover {
    background-color: #51a4e7;
  }
  nav .nav-toggle.back-visible .nav-back {
    opacity: 1;
  }
  nav .nav-toggle.back-visible .nav-title {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  nav .nav-title {
    position: absolute;
    left: 0;
    top: 0.8em;
    padding-left: 0.7em;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  nav .nav-back {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  nav .nav-back:before, nav .nav-back:after {
    content: '';
    position: absolute;
    top: 50%;
  }
  nav .nav-back:before {
    left: 50%;
    width: 9px;
    height: 9px;
    border: 2px solid currentcolor;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transform: translate(-50%, -50%) rotateZ(-45deg);
            transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  nav .nav-back:after {
    left: 28%;
    width: 15px;
    height: 2px;
    background-color: currentcolor;
    margin-top: -1px;
  }
  nav a {
    display: block;
    position: relative;
    padding: 0.7em;
    /* border-bottom: 1px solid #51a4e7; */
    color: #51a4e7;
    text-decoration: none;
    -webkit-transition: color 0.15s, background-color 0.15s;
    transition: color 0.15s, background-color 0.15s;
  }
  nav a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #51a4e7;
  }
  nav ul {
    list-style: none;
    padding: 45px 0 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    height: fit-content;
    width: 100%;
  }
  nav ul ul {
    display: none;
    left: 100%;
  }
  nav li.has-dropdown > a {
    padding-right: 2.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  nav li.has-dropdown > a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    width: 9px;
    height: 9px;
    border: 1px solid currentcolor;
    border-left-color: transparent;
    border-top-color: transparent;
    -webkit-transform: translateY(-90%) rotateZ(-45deg);
            transform: translateY(-90%) rotateZ(-45deg);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform-origin: 100%;
            transform-origin: 100%;
  }
  nav li.nav-dropdown-open ul {
    display: block;
  }


}


/* Carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  /* Control buttons  */
  /* Previous button  */
  /* Next button  */
  /* Changes the position of the indicators */
  /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
  background: none;
  color: #CACACA;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
#quote-carousel .carousel-control.left {
  left: -60px;
}


@media (max-width: 1200px){
  #quote-carousel .carousel-control.left {
    left: 0px;
  }
}
#quote-carousel .carousel-control.right {
  right: -60px;
}

@media (max-width: 1200px){
  #quote-carousel .carousel-control.right {
    right: 0px;
  }
}

#quote-carousel .carousel-indicators {
  right: 50%;
  top: 70%;
  bottom: 0px;
  margin-right: -19px;
}

@media (max-width: 1200px){
  #quote-carousel .carousel-indicators {
    visibility: hidden;
  }
}

#quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border: 4px solid #CCC;
  border-radius: 50px;
  opacity: 0.4;
  overflow: hidden;
  transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
  background: #333333;
  width: 128px;
  height: 128px;
  border-radius: 100px;
  border-color: #55acee;
  opacity: 1;
  overflow: hidden;
}
.carousel-inner {
  min-height: 300px;
}
.item blockquote {
  border-left: none;
  margin: 0;
}
.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}
.blockquote2 {
  border-left: 5px solid #eee;
}
