.btn-wide {
  min-width: 100px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.btn-table {
  margin-right:10px;
  margin-bottom: 5px;
}
.img-padding {
  margin-right: 10px;
  margin-bottom: 10px;
}

.image-container {
  width: 300px;
  display: inline-block;
  position: relative;
  float:left;
  margin:5px;
}
.image-container:hover img{
  /*opacity:0.5;*/
}
.image-container:hover button {
  display: block;
}
.image-container button {
  position:absolute;
  display:none;
}
.image-container button.delete {
  left: 75%;
  top: 5px;
}
/* SORTABLE  */
body.dragging, body.dragging * {
  cursor: move !important;
}
.dragged {
  position: absolute;
  z-index: 2000;
}
#sortable .placeholder {
  position: relative;
  min-height: 77px;
}
#sortable .placeholder:before {
  background-color: #eee;
  position: absolute;
}
